# Ignore local workspace layouts and caches
/Obsidian_cub3D/.obsidian/workspace.json
/Obsidian_cub3D/.obsidian/workspace-mobile.json
/Obsidian_cub3D/.obsidian/plugins/*/.trash/
/Obsidian_cub3D/.obsidian/plugins/*/.cashe/
.vscode
/obj/
.clangd
/libft/*.o
/libft/*.a
